target/
stc-index/target/
stc-spark/target/
stc-mapreduce/target/
stc-hive/target/
*/*.iml
.DS_Store

*/.DS_Store
.idea/workspace.xml
.idea/

*/.DS_Stor
.idea/*
out/*

/Users/feihu/Desktop/

Users/feihu/Desktop/mulcell.csv/.part-00000.crc

*.crc
