<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Spark Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet"/>

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="startTimer()">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="color: #000">ClimateSpark</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>STC</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>STC</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt=""/>
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>STC</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> STC <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="index.html" style="color: #000"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="taylordiagram" style="color: #000"><i class="fa fa-fw fa-bar-chart-o"></i> Taylor Diagram</a>
                </li>

                <li >
                    <a href="query" style="color: #000"><i class="fa fa-fw fa-bar-chart-o"></i> Query</a>
                </li>
                <li>
                    <a href="query" style="color: #000"><i class="fa fa-fw fa-edit"></i> Notebook</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Taylor Diagram for Model Comparison </h1>
                </div>
            </div>
            <!-- /.row -->

            <div class="row" align="middle">
                <div class="form-group">
                    <div class="col-xs-2">
                        <label>Temporal Date</label>
                    </div>
                    <div class="col-xs-4">
                        <label >Spatial Range</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    <input type="text"  id="start_time" class="form-control" placeholder="start time" value="198001"/>
                </div>
                <div class="col-xs-1">
                    <input type="text" id="end_time" class="form-control" placeholder="end time" value="198012"/>
                </div>
                <div class="col-xs-1">
                    <input type="text" id="min_lat" class="form-control" placeholder="min lat" value="-90.00"/>
                </div>
                <div class="col-xs-1">
                    <input type="text" id="min_lon" class="form-control" placeholder="min lon" value="-180.00"/>
                </div>
                <div class="col-xs-1">
                    <input type="text" id="max_lat" class="form-control" placeholder="max lat" value="90.00"/>
                </div>
                <div class="col-xs-1">
                    <input type="text" id="max_lon" class="form-control" placeholder="max lon" value="180.00"/>
                </div>
                <div class="col-xs-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="isCMAP" value="true"/> CMAP
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="isGPCP" value="true"/> GPCP
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="iSMERRA2" value="true"/> MERRA-2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="isMERRA1" value="true"/> MERRA-1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="isCFSR" value="true"/> CFSR
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="isERAINTRIM" value="false"/> ERA-INTRIM
                    </label>
                </div>
                <div class="col-xs-1">
                    <div class="dropdown">
                        <button id="reference-model" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Reference
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">CMAP</a></li>
                            <li><a href="#">GPCP</a></li>
                            <li><a href="#">MERRA-2</a></li>
                            <li><a href="#">MERRA-1</a></li>
                            <li><a href="#">CFSR</a></li>
                            <li><a href="#">ERA-INTRIM</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn btn-primary" onclick="getTaylordiagram()">Submit</button>
                </div>
            </div>

            <br></br>

            <!-- /.row -->
            <div class="row" id="taylordiagram-panel">
                <div class="col-lg-9">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img class="img-responsive" id="taylordiagram"  src="/result/taylordiagram.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 center-block">
                    <table class="table table-hover table-bordered center-block">
                        <thead>
                            <tr>
                                <th class="text-center warning">Time Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" id="time_range">198001 - 198012</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th class="text-center warning">Space Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" id="space_range">(-90.00,-180.00) - (90.00,180.00)</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th class="text-center warning">Models</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" id="model_list">CMAP, GPCP, MERRA-2, MERRA-1, ERA-INTRIM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-1 center-block">
                    <button type="button" class="btn btn-warning center-block" id="delete_div" onclick="deleteDiv.call(this)">Delete</button>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>

<!-- Flot Charts JavaScript -->
<!--[if lte IE 8]><script src="/js/excanvas.min.js"></script><![endif]-->
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/js/plugins/flot/flot-data.js"></script>

<script src="/js/services/taylordiagram.js"></script>
</body>

</html>
